<%- include('../partials/header') %>

    <h1>Appointments</h1>
<br>
<div id="schedule-appt"> 
        <% if (user) {%>
        <a href="/users/<%= user._id %>/appointments/new">Schedule an Appointment</a>
        <%}%>
        </div>
<ul>
    <% appointments.forEach(appointment =>{%>
        <li>
            <a href="/appointments/<%= appointment._id %>"> <%= appointment.name %> </a>
        </li>

    <%}) %>
</ul>


    
<%- include('../partials/footer') %>