<h1>Artists</h1>
<div id="artists">
<img src="https://i.imgur.com/DRkQhAc.jpg" title="source: imgur.com" /></a>
<img src="https://i.imgur.com/sdt3LxK.jpg" title="source: imgur.com" /></a>
<img src="https://i.imgur.com/R1UWUrq.png" title="source: imgur.com" /></a>
</div>

<div>
<h2>Reviews</h2>
<form id="add-review" method="post" action="/artists/reviews">
   <select name="artist">
       <% artists.forEach(a => { %>
           <option value="<%= a._id %>"><%= a.name %></option>
       <% }) %>
   </select>
   <label for="reviewLabel">Review:</label>
   <textarea name="content" id="reviewContent"></textarea>
   <input type="submit" value="Add Review">
</form>
</div>
<br>
<div>
   <% artists.forEach(a => { %>
   <div>
       <h1> <%= a.name %> </h1>
       <ul>
           <li><%= a.reviews %></li>
       </ul>
   </div>
<% }) %>
</div>

<div><%= artists %></div>




<%- include('../partials/footer') %>